cuerpo {
    familia de fuentes : Helvetica , Arial ;
    margen : 0  auto ;
}


h1 {
    ancho : 100 % ;
}


h2 {
    margen : 0 ;
}


div {
     : 0 ;
    margin : 0 ;
}


.list {
    float : derecho ;
     width:  30% ;
}


.col1 {
    float : izquierda ;
    width:  30% ;
}


.col2 {
    margin : 0  auto ;
    width:  30% ;
}

.col{
    margin: 0 auto;
    width: 30%;
}

footer{
    clear: both;
}